<!DOCTYPE html>
<html lang="sp">

<%- include("../partials/head") %>

      <body>
            <div class="container">

                  <%- include("../partials/header") %>

                        <main class="main-section">
                              <h2 class="titulo-carrito">Carrito de compras</h2>

                              <%- include("../partials/cart", {order}) %>

                                    <section class="cupon-container">
                                          <div class="form-container">
                                                <form action="" method="">
                                                      <div class="form">

                                                            <div class="input-container">
                                                                  <input class="input-style" type="text" name="cupon" placeholder="Ingrese su cupon">
                                                                  <span class="error-message">Debe ingresar su cupon</span>
                                                            </div>
                                                            <div class="button-container">
                                                                  <button type="button" class="btn btn-submit" id="validar">Validar</button>
                                                            </div>
                                                            <div class="send-container">
                                                                  <div class="direccion">
                                                                        <span>Direccion:</span>
                                                                        <span>Avenida Juan V. Justo 9 B, La Plata, Buenos Aires</span>
                                                                  </div>
                                                                  <div class="price">
                                                                        <span>Costo del envio: $ </span><span> 0.00</span>
                                                                  </div>
                                                                  <div class="descuento">
                                                                        <span>Descuento: $ </span><span>0.00</span>
                                                                  </div>
                                                                  <div class="price-total">
                                                                        <span>Total: $</span> <span id="totalOrder"> 0</span>
                                                                  </div>
                                                            </div>
                                                            <div class="button-container">
                                                                  <button type="submit" class="btn btn-confirm">Confirmar Compra</button>
                                                            </div>
                                                      </div>
                                                </form>
                                          </div>
                                    </section>



                        </main>

                        <%- include("../partials/footer") %>

                              <%- include("../partials/scripts") %>
            </div>
            <script src="/js/products/cart.js"></script>
      </body>

</html>