<!DOCTYPE html>
<html lang="sp">

<%- include("../partials/head") %>

      <body>
            <div class="container">

                  <%- include("../partials/header") %>

                        <main class="main-section">
                              <section class="container">

                                    <div class="container-title">
                                          <p>Nuevo| <%- product.sold %> vendidos</p>
                                          <p><%- product.name %></p>
                                    </div>

                                    <div class="image">
                                          <img src="/img/<%- product.subcategory.category.name %>/<%- product.images.name ? product.images.name: 'defauld.png' %>"
                                                alt="">
                                    </div>

                                    <div class="compra-container">
                                          <div class="form-container">
                                                <!-- <div class="form"> -->
                                                <div class="select-container">
                                                      <form action="/productos/carrito/<%- product.idProduct %>" method="POST">
                                                            <label for="quantity">Cantidad: </label>
                                                            <select name="quantity" class="input-select" id="quantity">
                                                                  <option value="1" hidden selected>1</option>
                                                                  <option value="1">1</option>
                                                                  <option value="2">2</option>
                                                                  <option value="3">3</option>
                                                                  <option value="4">4</option>
                                                                  <option value="5">5</option>
                                                            </select>

                                                            <button type="submit" class="btn btn-confirm" style="width: 50px;"><i
                                                                        class="fa-solid fa-cart-shopping"></i></button>
                                                      </form>
                                                </div>

                                                <form action="/productos/compra" method="POST" style="justify-content: center; display: flex">
                                                      <div class="button-container">
                                                            <button type="submit" class="btn btn-confirm">Confirmar Compra</button>
                                                      </div>
                                                </form>
                                                <!-- </div> -->

                                                <% if ( session.user && session.user.typeOfAccess=="admin" ){ %>

                                                      <div class="form">
                                                            <div class="button-container">                                                     
                                                                  <button class="btn btn-confirm">
                                                                        <a href="/admin/products/edit/<%- product.idProduct %>" class="editarProduc">EDITAR
                                                                              PRODUCTO</a>
                                                                  </button>
                                                            </div>
                                                      </div>
                                                      <div class="form">
                                                            <div class="button-container"> 
                                                                  <form action="/admin/products/delete/<%- product.idProduct %>?_method=DELETE" method="POST"
                                                                        style="display: inline-flex;width: 100%;" >
                                                                        <button type="submit" class="btn btn-submit">ELIMINAR PRODUCTO</button>
                                                                  </form>                                                                                                    
                                                            </div>
                                                      </div>

                                                      <% } %>

                                          </div>
                                    </div>






                                    <div class="container-details">
                                          <div class="pago">
                                                <p class="price">$ <%- product.price %></p>
                                                <p>en 12x $ <%- (product.price*1.5)/12%></p>
                                          </div>
                                          <div class="container-compra">
                                                <p>
                                                      <a href="#">Ver los medios de pago</a><br>
                                                      Llega el martes xx de diciembre<br>
                                                      Devolución gratis<br>
                                                      Tenes 30 días desde que lo recibís<br>
                                                      Stock disponible<br>
                                                      cantidad unidades (<%- product.stock - product.sold %> disponibles)
                                                </p>
                                          </div>

                                          <h3>Descripción del Producto</h3>
                                          <div class="conteineir-decription">
                                                <p><%- product.description.replace(/\n/g, "<br />" ) %>
                                                </p>

                                          </div>
                                    </div>

                              </section>

                              <%- include("../partials/product", {title:"🔥 ¡OFERTAS SÓLO POR HOY! 🔥", products: inSale }) %>


                        </main>

                        <%- include("../partials/footer") %>

                              <%- include("../partials/scripts") %>

            </div>

      </body>

</html>