<!DOCTYPE html>
<html lang="sp">

<%- include("partials/head") %>

      <body>
            <div class="container">

                  <%- include("partials/header") %>

                        <main class="main-section" style="z-index: 9997;">

                              <!-- banner -->

                              <%- include("partials/carousel")%>
                                    <!-- Llama a products.ejs que esta en la carpeta partials, y en el segundo parametro paso un
                               objeto literal con la propiedad title que es un string y la propiedad products que recibe un array 
                               que viene de productosController.js -->
                                    <%- include("partials/product", {title:"Productos Destacados ", products: featured }) %>
                                          <a href="productos/featured">ver mas...</a>

                                          <%- include("partials/product", {title:"", products: inSale }) %>
                                                <a href="productos/inSale">ver mas...</a>



                        </main>

                        <%- include("partials/footer") %>
                              <%- include("partials/scripts") %>


            </div>
      </body>

</html>