<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>


      <body>
            <div class="container">
                  <%- include('../partials/header') %>
                        <main class="main-section">

                              <!-- banner -->
                              <section class="banner">
                                    <img src="/img/banner.png" alt="banner">
                              </section>
                              <h1 class="title">Administración</h1>
                              <%- include("partials/adminMain") %>
                        </main>
                        <%- include("../partials/footer") %>
                              <%- include("../partials/scripts") %>
            </div>
      </body>

</html>