<!DOCTYPE html>
<html lang="sp">
<%- include("../partials/head") %>

      <body>
            <div class="container">
                  <%- include("../partials/header") %>
                        <main>
                              <div class="form-container">
                                    <h2>Editar Producto</h2>
                                    <p>Ingresá los datos a modificar</p>
                                    <form action="/admin/products/edit/<%= productToEdit.idProduct  %>?_method=PUT" method="POST" id="form"
                                          enctype="multipart/form-data">
                                          <div class="form">
                                                <div class="input-container">
                                                      <label for="name" class="form-label">Nombre:</label>
                                                      <input class="input-style form-control" type="text" name="name" placeholder="Ej: Pico & Pala"
                                                            id="name"
                                                            value="<%= locals.old && locals.old.name ? locals.old.name : productToEdit.name  %>">
                                                      <span class="error-message" id="nameErrors">
                                                            <%= locals.errors && locals.errors.name ? locals.errors.name.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="input-container">
                                                      <label for="price" class="form-label">Precio:</label>
                                                      <input class="input-style form-control" type="number" name="price" placeholder="Ej: 2500"
                                                            id="price"
                                                            value="<%=locals.old && locals.old.price ? locals.old.price : productToEdit.price  %>">
                                                      <span class="error-message" id="priceErrors">
                                                            <%= locals.errors && locals.errors.price ? locals.errors.price.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="input-container">
                                                      <label for="discount" class="form-label">Descuento:</label>
                                                      <input class="input-style form-control" type="number" name="discount" placeholder="Ej: 10"
                                                            id="discount"
                                                            value="<%=  locals.old && locals.old.discount ? locals.old.discount :productToEdit.discount  %>">
                                                      <span class="error-message" id="discountErrors">
                                                            <%= locals.errors && locals.errors.discount ? locals.errors.discount.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="input-container">
                                                      <label for="description" class="form-label">Descripción:</label>
                                                      <textarea name="description" id="description" class="textarea-style form-control"
                                                            placeholder="Ingrese la descripción"><%= locals.old && locals.old.description ? locals.old.description :productToEdit.description %></textarea>
                                                      <span class="error-message" id="descriptionErrors">
                                                            <%= locals.errors && locals.errors.description ? locals.errors.description.msg : null %>
                                                      </span>

                                                </div>
                                                <div class="input-container">
                                                      <label for="category" class="form-label">Categoría:</label>
                                                      <select name="category" id="category" class="select-style form-control">


                                                            <% category.forEach(category=> { %>
                                                                  <option value="<%- category.idCategory %>" <%- locals.old &&
                                                                        old.category==category.idCategory ? "selected" :
                                                                        category.idCategory==productToEdit.subcategory.category.idCategory ?
                                                                        `selected` : "" %>>
                                                                        <%- category.name %>
                                                                  </option>
                                                                  <% }) %>



                                                      </select>
                                                      <span class="error-message" id="categoryErrors">
                                                            <%= locals.errors && locals.errors.category ? locals.errors.category.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="input-container">
                                                      <label for="subcategory" class="form-label">SubCategoria: </label>
                                                      <select name="subcategory" id="subcategory" class="select-style form-control">



                                                            <option selected hidden>Subcategorias</option>
                                                            <% subcategory.forEach(subcategory=> { %>
                                                                  <option value="<%- subcategory.idSubCategory %>" <%- locals.old &&
                                                                        old.subcategory==subcategory.idSubCategory ? "selected" :
                                                                        subcategory.idSubCategory==productToEdit.subcategory.idSubCategory ?
                                                                        `selected` : "" %>>
                                                                        <%- subcategory.name %>
                                                                  </option>
                                                                  <% }) %>


                                                      </select>
                                                      <span class="error-message" id="subcategoryErrors">
                                                            <%= locals.errors && locals.errors.subcategory ? locals.errors.subcategory.msg : null %>
                                                      </span>
                                                </div>

                                                <div class="input-container">
                                                      <label for="sold" class="form-label">Ventas:</label>
                                                      <input class="input-style form-control" type="number" name="sold" placeholder="Ej: 0" id="sold"
                                                            value="<%= productToEdit.sold  %>">
                                                      <span class="error-message" id="soldErrors">
                                                            <%= locals.errors && locals.errors.sold ? locals.errors.sold.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="input-container">
                                                      <label for="stock" class="form-label">Stock:</label>
                                                      <input class="input-style form-control" type="number" name="stock" placeholder="Ej: 150"
                                                            id="stock" value="<%= productToEdit.stock  %>">
                                                      <span class="error-message" id="stockErrors">
                                                            <%= locals.errors && locals.errors.stock ? locals.errors.stock.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="img-container-product" id="img-preview">

                                                      <img src="/img/<%=productToEdit.subcategory.category.name%>/<%=productToEdit.images.name %>"
                                                            alt="" style="width: 100%;height: 100%;object-fit: contain;">
                                                </div>
                                                <div class="input-container">
                                                      <label for="img" class="form-label">Imagen:</label>
                                                      <div class="input-file-container">
                                                            <p>Agregar Imagen</p>
                                                            <input class="input-file form-control" type="file" id="image" name="image"
                                                                  value="<%= productToEdit.images.name %>">
                                                      </div>
                                                      <span class="error-message" id="fileErrors">
                                                            <%= locals.errors && locals.errors.img ? locals.errors.img.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="button-container">
                                                      <button type="submit" class="btn btn-submit">Guardar</button>
                                                </div>
                                          </div>
                                    </form>
                              </div>

                        </main>

                        <%- include("../partials/footer") %>

                              <%- include("../partials/scripts") %>
            </div>
            <script src="/js/products/productEditScript.js"></script>
            <script src="/js/products.js"></script>
      </body>

</html>