<!DOCTYPE html>
<html lang="sp">
<%- include('../partials/head')%>

      <body>
            <div class="container">
                  <%- include('../partials/header')%>
                        <main class="userProfile d-flex">

                              <div class="avatar mx-4">
                                    <img src="/img/avatar/<%= user.userdetail.avatar %>" alt="" class="rounded-circle" height="150" width="150">
                              </div>
                              <div class="userProfile-container">
                                    <div class="userProfile_box">
                                          <h3 class="userProfile_title">Datos personales</h3>
                                          <p class="userProfile_item">Nombre: <%= user.userdetail.firstName %>
                                          </p>
                                          <p class="userProfile_item">Apellido: <%= user.userdetail.lastName %>
                                          </p>
                                          <p class="userProfile_item">Email: <%= user.email %>
                                          </p>
                                          <p class="userProfile_item">Teléfono: <%= user.userdetail.phone ? user.userdetail.phone : "------" %>
                                          </p>
                                    </div>
                                    <div class="userProfile_box">
                                          <h3 class="userProfile_title">Datos de contacto</h3>
                                          <p class="userProfile_item">Dirección: <%= user.userdetail.address ? user.userdetail.address : "------" %>
                                          </p>
                                          <p class="userProfile_item">Código postal: <%= user.userdetail.postalCode ? user.userdetail.postalCode
                                                      : "------" %>
                                          </p>
                                          <p class="userProfile_item">Provincia: <%= user.userdetail.province ? user.userdetail.province : "------" %>
                                          </p>
                                          <p class="userProfile_item">Localidad: <%= user.userdetail.city ? user.userdetail.city : "------" %>
                                          </p>
                                    </div>
                                    <a href="/users/profile/edit/" class="btn btn-submit btn-info text-white w-100 mt-2">Editar datos</a>
                              </div>
                        </main>
                        <%- include("../partials/footer") %>
                              <%- include('../partials/scripts')%>
            </div>
      </body>

</html>